.wrapper {
  position: relative;
  min-height: calc(80svh - var(--nwt--r-spacer-lg));
  padding-top: var(--nwt--r-spacer-xxl);
  display: grid;

  &[data-type*='waves'] {
    overflow: hidden;
  }

  .content {
    height: 100%;
  }

  h2 {
    font-weight: 400;
  }
}

.contentInner {
  position: relative;
  gap: var(--nwt--r-spacer-sm);
  max-width: 900px;
  padding: 0 var(--nwt--r-spacer-sm);

  > div {
    gap: 1.5rem;
  }
}
