.wrapper {
  position: relative;
  padding: 150px 1rem 0;
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 768px;
  margin: 0 auto;

  strong {
    color: #00d0ff;
    text-transform: uppercase;
  }

  p {
    margin-top: 1rem;
  }
}

.content {
  position: relative;
  z-index: 10;
}
