.wrapper {
  max-width: 1200px;
  margin: 150px auto;
  padding: 0 var(--nwt--r-spacer-sm);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.articleSort {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  nav {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }

  button {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    background: none;
    color: #fff;
    border-bottom: 3px solid #b9b9b9;

    &:hover {
      background: #0059ff62;
    }
  }

  .active {
    background: #00359762;
    border-bottom: 3px solid rgb(0, 89, 255);
  }
}

.articleList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 2rem;
  max-width: 512px;

  > li > a {
    max-width: initial;

    img {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .articleList {
    grid-template-columns: repeat(2, 1fr);
    max-width: initial;
  }
}
