.wrapper {
  background: rgb(1 46 143 / 50%);
  margin: 150px 0;
  position: relative;
}

.testStyle {
  top: -50px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  --nwt--width-2: 2rem 1rem;
  align-items: flex-start;
}

.image {
  border-radius: 50px;
  width: 100%;
  overflow: hidden;
  border: 2px solid #3a3a3a;
  box-shadow: 0 0 25px 0 #0066ff;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.content {
  flex: 1 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .contentWrapper {
    flex-direction: row;
  }
  .image {
    max-width: 530px;
    flex: 1 50%;
    width: initial;

    img {
      width: auto;
    }
  }
}
