.wrapper {
  --nwt--width-1: 150px auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.header {
  max-width: 675px;
  margin: 0 auto;
  text-align: center;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
