// Display: Flex Classes
// Suffixes: flex-[align-items]-[justify-content]-[flex-direction]
.nwt--flex-n-n-col {
  display: flex;
  flex-direction: column;
}
.nwt--flex-c-n-n {
  display: flex;
  align-items: center;
}
.nwt--flex-n-c-n {
  display: flex;
  justify-content: center;
}
.nwt--flex-c-c-n {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nwt--flex-c-n-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nwt--flex-n-c-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nwt--flex-c-c-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Text: Alignments
.nwt--txt-center {
  text-align: center;
}
.nwt--txt-right {
  text-align: right;
}
.nwt--txt-justify {
  text-align: justify;
}

// Text/Heading: Styling
.nwt--f-h1 {
  font-size: var(--nwt--r-fs-head-h1);
  font-weight: 800;
  text-transform: capitalize;
}
.nwt--f-h2 {
  font-size: var(--nwt--r-fs-head-h2);
  font-weight: 800;
  text-transform: capitalize;
}
.nwt--f-h3 {
  font-size: var(--nwt--r-fs-head-h3);
  font-weight: 800;
}
.nwt--f-h3-small {
  font-size: var(--nwt--r-fs-head-h3-small);
}
.nwt--f-h4 {
  font-size: var(--nwt--r-fs-head-h4);
  font-weight: 800;
}
.nwt--f-h5 {
  font-size: var(--nwt--r-fs-head-h5);
  font-weight: 800;
}
.nwt--f-txt-big {
  font-size: var(--nwt--r-fs-txt-big);
}
.nwt--f-txt-normal {
  font-size: var(--nwt--r-fs-txt-normal);
}
.nwt--f-txt-small {
  font-size: var(--nwt--r-fs-txt-small);
}
.nwt--f-txt-upper {
  font-size: var(--nwt--r-fs-txt-normal);
  text-transform: uppercase;
  font-weight: 800;
}

// Text: Gradients
.nwt--txt-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--nwt--txt-gradient-1, var(--nwt--r-gradient-1));
  color: transparent;
}

// Text: Shine Animation
.nwt--txt-shine {
  --text-clr: #9c9c9c;
  position: relative;
  display: inline-block;
  color: #fff;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    135deg,
    var(--text-clr) 0%,
    var(--text-clr) 40%,
    #ffffff 50%,
    var(--text-clr) 60%,
    var(--text-clr) 100%
  );
  background-size: 200% auto;
  animation: nwt__txt-shine-ani 4s linear infinite;
  font-weight: 800;
}
@keyframes nwt__txt-shine-ani {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

// Lists: Reset
.nwt--ul-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Filters
.nwt--invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

// Width
.nwt--width {
  max-width: var(--nwt--width-3, 1200px);
  margin: var(--nwt--width-1, 0 auto);
  padding: var(--nwt--width-2, 0 var(--nwt--r-spacer-sm));
}

// Invisible ID Anchor
.nwt--invisible-anchor {
  transform: translateY(-100px);
  visibility: hidden;
  opacity: 1;
}

// Anchor Effects
.nwt--anchor-under {
  display: inline-block;
  position: relative;
}
.nwt--anchor-under::before {
  background: linear-gradient(90deg, #00b8ff, #02ff00);
  bottom: 1px;
  content: '';
  height: 2px;
  left: auto;
  position: absolute;
  right: 0;
  transition: ease all 0.3s;
  width: 0;
  will-change: left, right, width;
  border-radius: 50px;
}
.nwt--anchor-under:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}
