@import 'reset';
@import 'root';
@import 'framework';

body {
    line-height: 1.7;
    overflow-wrap: break-word;
    position: relative;
    font-size: var(--nwt--r-fs-txt-normal);
    background: var(--nwt--r-color-background);
    color: var(--nwt--r-color-text);
}