.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  transition: all 0.3s ease;
  --nwt-header-txt-dark: #000;
  --nwt-header-txt-light: #fff;

  .headerMain {
    background: rgb(0 0 0 / 75%);
    transition: all 0.3s ease;
    border-bottom: 1px solid #6b6b6b;
    position: relative;
  }

  .headerBackground {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .headerIcon {
    padding: 5px 10px;

    img {
      height: 100%;
      width: 200px;
    }
  }
}

.header.headerAtTop {
  width: 100%;
}
.headerAtTop .headerMain {
  background: rgb(245 249 255 / 0%);
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #6b6b6b00;
  border-top: none;
}
.headerAtTop .headerBackground {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.navParent {
  flex: 1;

  .nav {
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
  }

  .navLeft,
  .navRight {
    align-items: center;
    display: none;
    gap: 8px;
  }

  .navLinkBtn {
    color: var(--nwt-header-txt-light);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: var(--font-heading);
    font-weight: 800;
    transition: background 0.1s ease;

    &:hover {
      background: rgb(116 188 255 / 50%);
      color: var(--nwt-header-txt-light);
    }
  }

  .navCTA {
    display: none;
  }
}

.navPhone {
  gap: 1rem;

  button {
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.1s ease;
    width: 37px;

    &:hover {
      background: rgb(116 188 255 / 50%);
      color: var(--nwt-header-txt-light);
    }
  }
}

.phoneNavParent {
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #000;
  }

  hr {
    background-color: #bfbfbf;
    border: 0;
    height: 1px;
    margin: 5px 0;
  }

  .overlay {
    background-color: rgb(0 0 0 / 90%);
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 50;
  }

  .closeBtn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    transform: translateY(-5px);
    z-index: 75;
    margin-left: 0;
    right: 3%;
    left: auto;
  }

  .overlay,
  .closeBtn {
    animation: phoneNav-overlay-show 0.3s forwards;
    &.closing {
      animation: phoneNav-overlay-hide 0.3s forwards;
    }
  }

  .phoneNav {
    background-color: #fff;
    color: #000;
    height: 100%;
    left: 0;
    max-width: 380px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform-origin: left center;
    transform: translateX(-380px);
    width: 85%;
    z-index: 100;
    border-right: 1px solid #000;
    overscroll-behavior: contain;
    animation: phoneNav-canvas-expand 0.3s forwards;

    &.closing {
      animation: phoneNav-canvas-collapse 0.3s forwards;
    }
  }

  .phoneNavHead img {
    height: auto;
    padding: 12px;
  }

  .phoneNavBody {
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
  }

  .sideNavHome {
    font-size: 0.9rem;
    display: block;
  }

  .sideNavHeader {
    font-weight: 800;
    gap: 1rem;
    margin-top: 5px;

    span {
      --nwt--txt-gradient-1: linear-gradient(270deg, #36cfff, #001aff);
    }
  }

  .sideNavLI a {
    justify-content: space-between;
  }

  .sideNavHome,
  .sideNavHeader,
  .sideNavLI a {
    padding: 8px;
  }

  .sideNavHome,
  .sideNavLI a {
    transition: background 0.2s ease-in-out;
  }

  .sideNavHome:hover,
  .sideNavLI a:hover {
    background: #e0f6ff;
  }

  .sideNavLI div {
    align-items: flex-start;
    gap: 5px;
    font-size: 0.875rem;
  }

  .sideNavLIHeading {
    color: #00407b;
    font-size: 1rem;
    font-family: var(--font-heading);
    font-weight: 800;
    gap: 10px;
  }

  .sideNavLIAnnounce {
    background: #6ec9ff;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 0.85rem;
    color: #0029ff;
  }

  .sideNavLI svg,
  .sideNavLI img {
    min-width: 15px;
  }
}

@keyframes phoneNav-canvas-collapse {
  from {
    z-index: 100;
    transform: translateX(0px);
  }
  to {
    transform: translateX(-380px);
  }
}

@keyframes phoneNav-canvas-expand {
  from {
    z-index: 100;
    transform: translateX(-380px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes phoneNav-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes phoneNav-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .navParent {
    .navCTA {
      display: flex;
    }
  }

  .phoneNavParent {
    .sideNavHeader {
      font-size: 1.25rem;
    }

    .closeBtn {
      left: 0;
      margin-left: 390px;
      right: unset;
    }
    .sideNavHome,
    .sideNavHeader,
    .sideNavLI a {
      padding: 10px 15px;
    }
  }
}

@media (min-width: 1100px) {
  .navParent {
    .nav {
      justify-content: space-between;
    }
    .navLeft,
    .navRight {
      display: flex;
    }
  }
  .header .navPhone {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header {
    width: 1280px;

    .headerMain {
      border: 1px solid #6b6b6b;
      border-top: none;
      border-radius: 0 0 10px 10px;
    }
  }
}

@media (min-width: 1300px) {
  .headerAtTop .headerMain {
    border: 1px solid #6b6b6b00;
    border-top: none;
  }
}
