.wrapper {
  position: relative;
  min-height: calc(80svh - var(--nwt--r-spacer-lg));
  padding-top: var(--nwt--r-spacer-xxl);
  display: grid;

  .content {
    height: 100%;
  }

  h2 {
    font-weight: 400;
  }
}

.sectionMultiThinWave {
  position: absolute;
  inset: 0;

  canvas {
    height: 100%;
    width: 100%;
  }
}

.contentInner {
  position: relative;
  gap: var(--nwt--r-spacer-sm);
  margin: 0 auto;
  padding: 0 var(--nwt--r-spacer-sm);
}

[data-type*='single'] {
  .contentInner {
    max-width: 900px;

    div {
      gap: 1.5rem;
    }
  }

  @media (min-width: 576px) {
    .contentInner > div {
      flex-direction: row;
    }
  }
}

[data-type*='double'] {
  .contentInner {
    max-width: 1200px;
    width: 100%;
  }

  .doubleLeft {
    flex: 0 500px;
    gap: 1rem;

    h1 {
      text-decoration: underline;
      line-height: 1;
    }

    div {
      gap: 1.5rem;
    }
  }

  .doubleRight {
    display: none;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 30px 2px #0077ff;

    img {
      object-fit: cover;
      filter: brightness(0.9);
    }
  }

  @media (min-width: 576px) {
    .doubleLeft > div {
      flex-direction: row;
    }
  }

  @media (min-width: 992px) {
    .contentInner {
      justify-content: space-between;
    }
    .doubleLeft {
      text-align: left;
      align-items: flex-start;
    }
    .doubleRight {
      display: block;
    }
  }

  @media (min-width: 1100px) {
    .doubleLeft {
      flex: 0 650px;
    }
  }
}
