.wrapper {
  margin: 150px auto;
  max-width: 1280px;
  padding: var(--nwt--r-spacer-sm);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: rgba(0, 9, 46, 0.75);
  box-shadow: 0 0 15px 3px rgba(0, 9, 46, 0.75);
}

.relatedArticles {
  max-width: 1280px;
  padding: 0 var(--nwt--r-spacer-sm);
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.relArtHeader {
  text-align: center;
}

.relArtBody {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  align-items: start;
}

@media (min-width: 768px) {
  .relArtBody {
    grid-template-columns: repeat(2, 1fr);
  }
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.miscs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  > span {
    display: none;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headingPara {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  > h1 {
    text-decoration: underline;
  }
}

.personalCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0;

  hr {
    border: 1px solid #656565;
    border-radius: 5px;
    width: 75%;
  }
}

.personalImage {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px 2px #0077ff;
  min-width: 75px;
}

.personalCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.personalText {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  > span {
    display: none;
  }
}

.personalLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  > a {
    color: #fff;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(127, 193, 255);
    }
  }
}

.thumbnail {
  img {
    height: auto;
  }
  figcaption {
    display: flex;
    gap: 0.5rem;
    font-size: 14px;
    color: rgb(211, 211, 211);
  }

  .thumbnailCaption {
    font-style: italic;
  }
}

.body {
  display: block;
  gap: 2rem;
}

.content {
  flex: 100%;
  min-width: 0;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }

  h2 {
    font-size: var(--nwt--r-fs-head-h3);
    text-transform: capitalize;
  }

  h3 {
    font-size: var(--nwt--r-fs-head-h4);
  }

  h4 {
    font-size: var(--nwt--r-fs-head-h5);
  }
}

.tableOfContentContainer {
  flex: 290px 0 0;
  flex-shrink: 0;
  display: none;
}

.tableOfContent {
  padding: 0 1.5rem 3rem 0;
  position: sticky;
  top: 70px;
}

@media (min-width: 384px) {
  .personalText {
    flex-direction: row;
    gap: 0.33rem;

    > span {
      display: inline;
    }
  }
}

@media (min-width: 576px) {
  .wrapper {
    padding: var(--nwt--r-spacer-lg);
  }
  .body {
    display: flex;
  }
  .tags {
    flex-direction: row;
    text-align: left;
    gap: 0.25rem;
  }
}

@media (min-width: 768px) {
  .miscs {
    flex-direction: row;
    align-items: flex-start;

    > span {
      display: inline;
    }
  }
}

@media (min-width: 900px) {
  .mobileTableOfContent {
    display: none;
  }

  .content {
    flex: 72ch;
  }

  .tableOfContentContainer {
    display: block;
  }
}
