.phoneNavParent {
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #ffffff;
  }

  hr {
    background-color: #bfbfbf;
    border: 0;
    height: 1px;
    margin: 5px 0;
  }

  .overlay {
    background-color: rgb(0 0 0 / 90%);
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 50;
  }

  .closeBtn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    transform: translateY(-5px);
    z-index: 75;
    margin-left: 0;
    right: 3%;
    left: auto;
  }

  .overlay,
  .closeBtn {
    animation: phoneNav-overlay-show 0.3s forwards;
    &.closing {
      animation: phoneNav-overlay-hide 0.3s forwards;
    }
  }

  .phoneNav {
    background: linear-gradient(180deg, #000645, #000435 60%, #000216 100%);
    color: #ffffff;
    height: 100%;
    left: 0;
    max-width: 380px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform-origin: left center;
    transform: translateX(-380px);
    width: 85%;
    z-index: 100;
    border-right: 1px solid #747474;
    overscroll-behavior: contain;
    animation: phoneNav-canvas-expand 0.3s forwards;

    &.closing {
      animation: phoneNav-canvas-collapse 0.3s forwards;
    }
  }

  .phoneNavHead {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    img {
      max-height: 50px;
      height: auto;
      width: auto;
    }

    button {
      font-size: 14px;
      font-weight: 400;
      flex-shrink: 0;
    }
  }

  .phoneNavBody {
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
  }

  .sideNavHome {
    font-size: 0.9rem;
    display: block;
  }

  .sideNavHeader {
    font-weight: 800;
    gap: 1rem;
    margin-top: 5px;
    font-size: 1.25rem;
  }

  .sideNavLI a {
    justify-content: space-between;
  }

  .sideNavHome,
  .sideNavHeader,
  .sideNavLI a {
    padding: 8px;
  }

  .sideNavHome,
  .sideNavLI a {
    transition: background 0.2s ease-in-out;
  }

  .sideNavHome:hover,
  .sideNavLI a:hover {
    background: #04188f;
  }

  .sideNavLI div {
    align-items: flex-start;
    gap: 5px;
    font-size: 0.875rem;
  }

  .sideNavLIHeading {
    color: #63b2fd;
    font-size: 1.125rem;
    font-family: var(--font-heading);
    font-weight: 800;
    gap: 10px;
  }

  .sideNavLIAnnounce {
    background: #6ec9ff;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 0.85rem;
    color: #0029ff;
  }

  .sideNavLI svg,
  .sideNavLI img {
    min-width: 15px;
  }
}

@keyframes phoneNav-canvas-collapse {
  from {
    z-index: 100;
    transform: translateX(0px);
  }
  to {
    transform: translateX(-380px);
  }
}

@keyframes phoneNav-canvas-expand {
  from {
    z-index: 100;
    transform: translateX(-380px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes phoneNav-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes phoneNav-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .phoneNavParent {
    .sideNavHeader {
      font-size: 1.25rem;
    }

    .closeBtn {
      left: 0;
      margin-left: 390px;
      right: unset;
    }
    .sideNavHome,
    .sideNavHeader,
    .sideNavLI a {
      padding: 10px 15px;
    }
  }
}
