.wrapper {
  margin: 150px auto;
  max-width: 1200px;
  padding: var(--nwt--r-spacer-lg);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  h1 {
    text-decoration: underline;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.bodyTop {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.bodyBottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.projectThumbnail {
  box-shadow: 0 0 15px 5px rgba(0, 81, 255, 0.25);
  background: #000;
  border: 1px solid #002b98;

  img {
    width: 100%;
    height: auto;
  }
}

.thumbnailOverview,
.studyOverview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  hr {
    border: 2px solid #0082fc;
    border-radius: 5px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.thumbnailOverview h2,
.studyOverview h2 {
  scroll-margin-top: 70px;
}

.thumbnailOverview > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.studyOverview strong {
  font-family: var(--font-heading);
  text-decoration: underline;
}

.details {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;

  ul li {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    font-size: 14px;
  }
}

.techStack {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  ul {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  > div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.tableOfContent {
  flex: 290px 0 0;
  flex-shrink: 0;
  padding: 1rem 1.5rem 3rem 0;
  position: sticky;
  top: 70px;
  display: none;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: calc(80svh - 60px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #0077ff #00457e;
  }
}

.article {
  flex: 72ch;
  max-width: 72ch;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }

  h2 {
    font-size: var(--nwt--r-fs-head-h3);
    text-transform: capitalize;
  }

  h3 {
    font-size: var(--nwt--r-fs-head-h4);
  }

  h4 {
    font-size: var(--nwt--r-fs-head-h5);
  }
}

@media (min-width: 536px) {
  .details {
    gap: 4rem;
    flex-direction: row;
    align-items: normal;
  }
}

@media (min-width: 900px) {
  .mobileTableOfContent {
    display: none;
  }

  .tableOfContent {
    display: block;
  }
}
