.tocHeading {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.tocListItem {
  border-left: 3px solid #ffffff1f;
  transition: all 0.05s ease-in-out;

  &:hover,
  &.active:hover {
    background: #549eff77;
    border-color: #0050b9;
  }

  &.active {
    background: #549eff3f;
    border-color: #003881;
  }
}

.tocLink {
  display: block;
  padding: 0.25rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.tocIndentLv3 {
  padding-left: 1rem;
}

.sidebarNav ol {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: calc(80svh - 60px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #0077ff #00457e;
}

.collapsibleNav {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  max-width: 72ch;
  background: rgb(0, 34, 138);
  box-shadow: 0 0 10px 5px rgb(0, 43, 173);

  button {
    text-decoration: underline;
  }
}

.collapsibleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1rem;
  background: none;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.caret {
  transition: transform 0.2s ease-in-out;
}

.caretOpen {
  transform: rotate(180deg);
}

.collapsibleContent {
  padding: 0 1rem 0.75rem 1rem;
  border-top: 1px solid #4a4a4a;

  > ol {
    padding-left: 1rem;
    margin: 0;

    ::marker {
      font-size: 14px;
    }
  }
}
