.nwtGradientButton {
  gap: 10px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
  display: inline-flex;

  svg {
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }

  &:hover svg {
    transform: translate(4px);
  }

  &:hover::before {
    animation: nwtGradientButtonAni 1.5s linear infinite;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  &.nwtBlueGradient {
    background: linear-gradient(270deg, #36cfff, #001aff);
    color: #fff;
    box-shadow: 0 5px 20px rgb(0 74 255);
    font-weight: 800;
  }

  &.nwtOrangeGradient {
    background: linear-gradient(90deg, #ffc300, #ff9d00);
    color: #000;
    box-shadow: 0 5px 20px rgb(187, 143, 0);
    font-weight: 800;
  }

  &.nwtGreenGradient {
    background: linear-gradient(90deg, #009105, #42e100);
    color: #fff;
    box-shadow: 0 5px 20px rgb(6, 189, 0);
  }
}

@keyframes nwtGradientButtonAni {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}

.nwtRainbow {
  position: relative;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    transition: all 0.1s ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    top: -200%;
    left: -50%;
    width: 200%;
    height: 500%;
    background: conic-gradient(from 0deg, #f36, #f93, #3c3, #39f, #93f, #f36);
    z-index: -2;
    animation: nwtRainbowButtonAni 3s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: rgb(30 30 30 / 85%);
    border-radius: 6px;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}

@keyframes nwtRainbowButtonAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nwtPositionSection {
  padding: 8px 20px;
}

.nwtPositionCard {
  padding: 4px 12px;
}
