.wrapper {
  position: relative;
  min-height: calc(80svh - var(--nwt--r-spacer-lg));
  padding-top: var(--nwt--r-spacer-xxl);
  display: grid;

  h2 {
    font-weight: 400;
  }
}

.background {
  position: absolute;
  inset: 0;

  .svgOne {
    position: absolute;
    top: 0;
    right: 0;
  }

  .svgTwo {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.content {
  height: 100%;
  position: relative;
}

.content,
.contentInner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentInner {
  position: relative;
  gap: var(--nwt--r-spacer-sm);
  margin: 0 auto;
  padding: 0 var(--nwt--r-spacer-sm);
}

.contentInner {
  max-width: 1200px;
  width: 100%;
}

.InnerLeft {
  flex: 0 500px;
  gap: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  h1 {
    line-height: 0.25;
    color: rgba(173, 173, 173, 0.5);
  }
}

.InnerBtns {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InnerRight {
  display: none;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 30px 2px #0077ff;

  img {
    object-fit: cover;
    filter: brightness(0.9);
  }
}

@media (min-width: 576px) {
  .InnerBtns {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .contentInner {
    justify-content: space-between;
  }
  .InnerLeft {
    text-align: left;
    align-items: flex-start;
  }
  .InnerRight {
    display: block;
  }
}

@media (min-width: 1100px) {
  .InnerLeft {
    flex: 0 650px;
  }
}
