.container {
  background: linear-gradient(45deg, #0077ff, #000dff);
  display: block;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px #0051ff;
  overflow: hidden;
  border: 1px solid #0059ff;
  transition: box-shadow 0.2s ease;
  max-width: 512px;

  &:hover {
    box-shadow: 0 0 15px 5px #5289ff;
  }

  > article {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 22px;
  }
}

.imageContainer {
  padding: 1rem;
}

.imageWrapper {
  background: #000;
  overflow: hidden;
  border-radius: 15px;

  img {
    object-fit: cover;
    height: auto;
  }
}

.contentContainer {
  background: #000830;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.misc {
  color: #9f9f9f;
  font-weight: 800;
  font-size: 14px;
}

.navLink {
  font-weight: 800;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}
