.projectWrapper {
  border: 1px solid #0059ff;
  border-radius: 20px;
  padding: 0.75rem 1.125rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 700px;
  margin: 0 auto;

  &.personalProject {
    background: linear-gradient(
      170deg,
      #001684 15%,
      #000830 32%,
      #000b43 68%,
      #001996 100%
    );
    box-shadow: 0 0 15px 5px rgb(0 81 255);
  }

  &.clientProject {
    background: linear-gradient(
      170deg,
      #00244e 15%,
      #003459 27%,
      #002543 68%,
      #00304e 100%
    );
    box-shadow: 0 0 15px 5px rgb(0 135 202);
  }
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mainImageWrapper {
  position: relative;
  width: 100%;
  max-height: 350px;
  border-radius: 30px;
  border: 2px solid rgb(90, 90, 90);
  overflow: hidden;
}

.contentWrapper {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  strong {
    font-weight: 400;
    text-decoration: underline;
    font-style: italic;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    text-decoration: underline;
  }
}

.techStack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.status {
  display: flex;
  align-items: center;
  gap: 1rem;

  div {
    display: inline-block;
    border-radius: 25px;
    padding: 0.125rem 0.5rem;
  }

  &.notReleased div {
    background: #d60000;
  }

  &.released div {
    background: #00a92d;
  }
}

.links {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 576px) {
  .projectWrapper {
    padding: 1.5rem 2rem 3rem;
  }

  .links {
    justify-content: flex-start;
  }
}
