.mainImageWrapper {
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  overflow: hidden;
  box-shadow: 0 0 15px 5px rgba(0, 81, 255, 0.25);

  img {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
    max-height: 500px;
    object-position: top;
  }

  &:hover img {
    transform: scale(1.05);
  }

  &:hover .mainImageForeground {
    opacity: 1;
  }
}

.mainImageForeground {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  > span:first-child {
    text-decoration: underline;
  }
}

.thumbnailCarousel {
  overflow: hidden;
}

.thumbnails {
  display: flex;
  gap: 0.5rem;
}

.thumbnailItem {
  cursor: pointer;
  border: 2px solid transparent;
  flex: 0 0 auto;
  height: 80px;
  max-width: 80px;
  border-radius: 5px;

  > div {
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgb(1, 136, 214);
  }

  img {
    object-fit: cover;
    height: auto;
  }
}

.activeThumbnail {
  border-color: rgb(1, 136, 214);
}

.contentWrapper {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  strong {
    font-weight: 400;
    text-decoration: underline;
    font-style: italic;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    text-decoration: underline;
  }
}

.techStack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.status {
  display: flex;
  align-items: center;
  gap: 1rem;

  div {
    display: inline-block;
    border-radius: 25px;
    padding: 0.125rem 0.5rem;
  }

  &.notReleased div {
    background: #d60000;
  }

  &.released div {
    background: #00a92d;
  }
}

.links {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 576px) {
  .projectWrapper {
    padding: 1.5rem 2rem 3rem;
  }

  .links {
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .projectWrapper {
    grid-template-columns: auto 1fr;
  }

  .mainImageWrapper img {
  }
}
