.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.skeleton {
  position: absolute;
  inset: 0;
  background: #0d3c7a;
  background: linear-gradient(to right, #0d3c7a 8%, #1156af 18%, #0d3c7a 28%);
  background-size: 1200px 100%;
  animation: forwards shimmer 4s linear infinite;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    opacity: 75%;
    font-size: 1.125rem;
    font-weight: 800;
    color: #74a7eb;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.image {
  opacity: 0;
  transition: opacity 0.4s ease;

  &.visible {
    opacity: 1;
  }
}
